.game h2 {
    margin: 20px 0;
    font-size: .8em;
}

.don-john-illustration {
    width: 100vw;
    height: 80vh;
    background-image: url("../assets/hero/don-john.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

[class*="view-"] {
    position: absolute;
    width: 100vw;
    height: 80vh;
    transition: 1s;
}

.view-create {
}

.view-start {
    opacity: 0;
}

.view-left, .view-top, .view-right {
    background-image: url("../assets/background/door.jpg");
    background-size: cover;
    background-position: center;
}

.view-left {
    right: 100vw;
}

.view-top {
    bottom: 100vh;
}

.view-right {
    left: 100vw;
}

.view-end {
    top: 100vh;
}

/* ============================ */
/* ====== HERO-GENERATOR ====== */
/* ============================ */
.hero-generator {
    position: relative;
    top: -80vh;
    right: -100vw;
    width: 100vw;
    height: 80vh;
    background-color: #413019;
    color: #C18E4B;
    transition: 1s;
}

.hero-generator h2 {
    font-size: 2em;
}

.hero-generator p {
    padding: 0 15px;
    max-width: 420px;
    font-size: .6em;
}

.stats {
    width: 60vw;
    margin: 0 auto;
}

.stat-bloc {
    width: 60vw;
    height: 30px;
    background-color: #fff;
    border: 2px solid #C18E4B;
}

/* icons */
.stat-bloc .stat-icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-right: 2px solid #C18E4B;
}

.icon-life {
    background-image: url("../assets/icons/icon-life.svg");
}
.icon-atk {
    background-image: url("../assets/icons/icon-atk.svg");
}
.icon-def {
    background-image: url("../assets/icons/icon-def.svg");
}
.icon-int {
    background-image: url("../assets/icons/icon-int.svg");
}
.icon-agi {
    background-image: url("../assets/icons/icon-agi.svg");
}
.icon-potion {
    background-image: url("../assets/icons/icon-potion.svg");
}

/* values */
.stat-title {
    margin-top: 5px;
}

.stat-value {
    position: relative;
    bottom: 24px;
    color: #111;
}