/* ============================ */
/* =========== BASE =========== */
/* ============================ */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: .65em;
}

p {
    margin: 0;
}

header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-color: #494949;
}

/* ============================ */
/* ========== BUTTON ========== */
/* ============================ */
.btn {
    max-width: 320px;
    margin: 20px;
    padding: 20px 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid #000;
    transition: .2s;
}

.btn:hover {
    cursor: pointer;
    filter:brightness(125%);
}

.btn-start {
    background-color: #C18E4B;
    border-color: #413019;
    color: #413019;
}

/* --------- specials --------- */
.dice {
    width: 125px;
    height: 125px;
    background-image: url("../assets/icons/icon-dice.svg");
}

/* ============================ */
/* =========== HOME =========== */
/* ============================ */
.don-john-home {
    width: 100vw;
    height: 80vh;
    background-image: url("../assets/hero/don-john.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

/* ============================ */
/* ====== HERO-GENERATOR ====== */
/* ============================ */
.hero-generator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -80vh;
    right: -100vw;
    width: 100vw;
    height: 80vh;
    background-color: #413019;
    color: #C18E4B;
    transition: 1s;
}

.hero-generator h2 {
    font-size: 2em;
}

.hero-generator p {
    padding: 0 15px;
    max-width: 420px;
    font-size: .6em;
}

.stat-bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 30px;
    background-color: #fff;
    border: 2px solid #C18E4B;
}

/* icons */
.stat-bloc .stat-icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-right: 2px solid #C18E4B;
}

.icon-life {
    background-image: url("../assets/icons/icon-life.svg");
}
.icon-atk {
    background-image: url("../assets/icons/icon-atk.svg");
}
.icon-def {
    background-image: url("../assets/icons/icon-def.svg");
}
.icon-int {
    background-image: url("../assets/icons/icon-int.svg");
}
.icon-agi {
    background-image: url("../assets/icons/icon-agi.svg");
}
.icon-potion {
    background-image: url("../assets/icons/icon-potion.svg");
}

/* values */
.stat-bloc .stat-value {
    width: 100%;
}