/* ============================ */
/* =========== BASE =========== */
/* ============================ */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: .65em;
}

p {
    margin: 0;
}

header, footer {
    width: 100vw;
    height: 10vh;
    z-index: 2;
}

header {
    line-height: 5vh;
}

section {
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: #494949;
}

footer {
    line-height: 10vh;
}

/* ============================ */
/* ========== BUTTON ========== */
/* ============================ */
div[class*="choice"] {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.btn {
    max-width: 320px;
    margin: 20px 0;
    padding: 20px 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid #000;
    outline: 0;
    transition: .2s;
}

.btn:hover {
    cursor: pointer;
    filter:brightness(125%);
}

.btn-start {
    background-color: #C18E4B;
    border-color: #413019;
    color: #413019;
}

.triple-choice .btn {
    padding: 0;
    margin: 0;
    width: 30vw;
    height: 30px;
    font-size: .7em;
}

/* ============================ */
/* =========== HOME =========== */
/* ============================ */
.don-john-home {
    width: 100vw;
    height: 80vh;
    background-image: url("../assets/hero/don-john.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}